@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  div,
  body {
    @apply transition-colors ease-linear duration-200;
  }
  .smooth {
    @apply transition-all ease-in-out duration-500;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #f9f9f9;
}

body.dark {
  background-color: #161b26;
}

body.home {
  background-color: #483eff;
}

body.dark.home {
  background-color: #443eb1;
}

.colors {
  color: #02295a;
  color: #473dff;
  color: #adbeff;
  color: #bfe2fd;
  color: #ed3548;

  color: #9699ab;
  color: #d6d9e6;
  color: #f0f6ff;
  color: #fafbff;
}
/* 
### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%) */
